@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    background-color: rgb(225, 231, 239);
    font-family: 'Montserrat', sans-serif;
    color: #333;
    
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}